Board: <%= @application_cycle.name %>

<br>
<br>

Schools:
<div class="application_table">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Major</th>
        <th>Application Deadline</th>
        <th>Application Status</th>
      </tr>
    </thead>
    <tbody>
      <% @application_cycle.school_applications.each do |school_app| %>
        <tr>
          <td><%= school_app.school.name  %></td>
          <td><%= school_app.school.location %></td>
          <td><%= school_app.major %></td>
          <td><%= school_app.school.deadline_at %></td>
          <td><%= school_app.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div>
Add a New School
</div>
<%= form_for [@application_cycle, SchoolApplication.new] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :school_id, list: 'school_typeahead'%>
 <%= f.submit "Add School", class: 'btn btn-secondary' %>
<% end %>